/* Inputs */
.form-input, .form-input-disabled, .form-input-error,
.form-textarea, .form-textarea.disabled, .form-textarea.error{
    display: inline-block;
    font-family:"HPSimplified",Arial;
    height: 32px;
    line-height: 22px;
    _height: 36px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
    background: #fff;
    border: 2px solid #5a5a5a;
    vertical-align: top;
    /*NOTE: do not set middle in this container (IE bugs will be)*/
}

.form-textarea, .form-textarea.disabled, .form-textarea.error{
    height: 66px;
    font-family:"HPSimplified",Arial;
    padding: 10px;
    border: 2px #5a5a5a solid;
    overflow-y: visible;
}

*html .form-textarea {
    height: 90px;
}

.pre-active{color: #767676; border-color:#ccc;}
.form-input:hover, .form-textarea:hover,
.form-input:focus, .form-textarea:focus{color: #000; border-color: #5a5a5a}
.form-input-disabled, .form-textarea.disabled{color: #b3b3b3; background: #e5e5e5; border-color: #ccc}
.form-input-error, .form-textarea.error{border-color: #ff0000; color:#ff0000}

/* Slim Inputs */
.input-slim{font-size: 14px; height: 22px; _height: 26px; line-height: 18px; padding: 0 8px;}

.form-textarea.resizeoff{resize: none;}
.form-textarea.scroll-y{overflow-y: scroll}

.form-textarea.auto-resize{overflow:  hidden;}